<div>
<div class="col-md-12">

    <div id="floorplan">
    <div class="content">
        <button id= "cub1" type="button" ng-click="showForm(1)">X</button>
        <button id= "cub2" type="button" ng-click="showForm(2)">X</button>
        <button id= "cub3" type="button" ng-click="showForm(3)">X</button>
        <button id= "cub4" type="button" ng-click="showForm(4)">X</button>
        <button id= "cub5" type="button" ng-click="showForm(5)">X</button>
        <button id= "cub6" type="button" ng-click="showForm(6)">X</button>
        <button id= "cub7" type="button" ng-click="showForm(7)">X</button>

        <button id= "cub8" type="button" ng-click="showForm(8)">X</button>
        <button id= "cub9" type="button" ng-click="showForm(9)">X</button>
        <button id= "cub10" type="button" ng-click="showForm(10)">X</button>
        <button id= "cub11" type="button" ng-click="showForm(11)">X</button>
        <button id= "cub12" type="button" ng-click="showForm(12)">X</button>
        <button id= "cub13" type="button" ng-click="showForm(13)">X</button>
        <button id= "cub14" type="button" ng-click="showForm(14)">X</button>

        <button id= "cub15" type="button" ng-click="showForm(15)">X</button>
        <button id= "cub16" type="button" ng-click="showForm(16)">X</button>
        <button id= "cub17" type="button" ng-click="showForm(17)">X</button>
        <button id= "cub18" type="button" ng-click="showForm(18)">X</button>
        <button id= "cub19" type="button" ng-click="showForm(19)">X</button>
        <button id= "cub20" type="button" ng-click="showForm(20)">X</button>
        <button id= "cub21" type="button" ng-click="showForm(21)">X</button>
        <button id= "cub22" type="button" ng-click="showForm(22)">X</button>
        <button id= "cub23" type="button" ng-click="showForm(23)">X</button>
        <button id= "cub24" type="button" ng-click="showForm(24)">X</button>
        <button id= "cub25" type="button" ng-click="showForm(25)">X</button>


        <button id= "cub26" type="button" ng-click="showForm(26)">X</button>
        <button id= "cub27" type="button" ng-click="showForm(27)">X</button>
        <button id= "cub28" type="button" ng-click="showForm(28)">X</button>
        <button id= "cub29" type="button" ng-click="showForm(29)">X</button>
        <button id= "cub30" type="button" ng-click="showForm(30)">X</button>
        <button id= "cub31" type="button" ng-click="showForm(31)">X</button>
        <button id= "cub32" type="button" ng-click="showForm(32)">X</button>

        <button id= "cub33" type="button" ng-click="showForm(33)">X</button>
        <button id= "cub34" type="button" ng-click="showForm(34)">X</button>
        <button id= "cub35" type="button" ng-click="showForm(35)">X</button>
        <button id= "cub36" type="button" ng-click="showForm(36)">X</button>
        <button id= "cub37" type="button" ng-click="showForm(37)">X</button>
        <button id= "cub38" type="button" ng-click="showForm(38)">X</button>
        <button id= "cub39" type="button" ng-click="showForm(39)">X</button>

        <button id= "cub40" type="button" ng-click="showForm(40)">X</button>
        <button id= "cub41" type="button" ng-click="showForm(41)">X</button>
        <button id= "cub42" type="button" ng-click="showForm(42)">X</button>
        <button id= "cub43" type="button" ng-click="showForm(43)">X</button>
        <button id= "cub44" type="button" ng-click="showForm(44)">X</button>


    </div>     
 </div>
</div><!--/span-->
<div class="col-md-12" id = "canvasmargin">
    <canvas id="myCanvas" width="756px" height="600px"
    style="border:1px solid #d3d3d3">
</div>
</div>